* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --db-blue: #0061FF;
    --db-lightblue: #B4D0E7;
    --db-purple: #610C32;
    --db-design: #A2D39B;
    --db-design-shadow: #D1E9CD;
    --db-asu: #61082B;
    --db-florida: #0093CE;
    --db-topps: #FF1C1C;
    --db-bycicle: #D5001F;
    --db-hearst: #B4D0E7;
    --db-lonely: #0D2481;
    --db-clear: #FFD830;
}

body {
    font-family: 'Fredoka', sans-serif;
    font-family: 'Open Sans', sans-serif;
    min-width: 1440px;
}

a {
    text-decoration: none;
    padding: 0.5rem;
    font-weight: 600;
}

p {
    line-height: 1.5rem;
}

/* #region Debug */

.debug main {
    height: 1400px;
    background-color: aqua;
}

.debug header {
    height: 100px;
    background-color: green;
}

.debug .menu {
    background-color: grey;
    height: 80px;
    width: 500px;
    
}

.debug footer {
    height: 100px;
    background-color: black;
}

.debug .col-4 {
    background-color: yellow;
    height: 100px;
}

/* #endregion Debug */

/* #region Utility */

.d-flex {
    display: flex;
}

.direction-col {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.unstyle {
    list-style: none;
    gap: 1rem;
}

.button, .white-button {
    padding: 0.5rem 1rem;
}

.button {
    display: inline-block;
    background-color: #0061FF;
    color: white;
}

.white-button {
    display: inline-block;
    border: 1px solid black;
    color: black;
    background-color: white;
}

.container {
    max-width: 1170px;
    width: 80%;
    margin: auto;
}

.container-smaller {
    max-width: 1000px;
    width: 80%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-2 {
    width: calc(50%);
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-12 {
    width: 100%;
    margin-top: 4rem;
}

.py-4 {
    padding: 0rem 0 4rem 0;
}

.left {
    width: calc(100% / 12 * 9);
}

.right {
    width: calc(100% / 12 * 3);
}

h2  {
    font-size: 2.5rem;
    padding-bottom: 3rem;
}

/* #endregion Utility */

/* #region ButtonHovers */

.button:hover {
    opacity: 70%;
}

.white-button:hover {
    color: white;
    background-color: black;
}

/* #endregion ButtonHovers */

/* #region Header */

header {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav a {
    padding: 1.2rem;
    text-decoration: none;
    color: black;
}

.menu {
    gap: 1rem;
}

ul a:hover {
    border-bottom: 2px solid black;
}

/* #endregion Header */

/* #region Jumbotron */

.jumbotron {
    height: 720px;
    background-color: var(--db-lightblue);
}

.jumbotron h1 {
    font-size: 5rem;
    padding: 4rem 0;
}

.jumbotron img {
    width: 100%;
}

.jumbotron i {
    color: black;
}

.jumbotron .button {
    margin: 2rem 0;
}

/* #endregion Jumbotron */

/* #region inputradio */

input {
    appearance: none;
    border: 1px solid grey;
    height: 15px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    background-color: white;
}

#plans input:checked {
    border: 4px solid var(--db-blue);
}

/* #endregion inputradio */

/* #region Plans */

#plans {
    padding-top: 6rem;
}

#plans span > a {
    color: var(--db-blue);
    text-decoration: underline;
}

.input-radio {
    margin-bottom: 2rem;    
}

.ml-2 {
    margin-left: 2rem;
}

.col-head {
    border-bottom: 1px solid lightgray;
    text-align: center;
    padding: 1rem;
}

.col-main {
    padding: 1.5rem;
    align-items: flex-start;
}

#plans .col-4 {
    width: calc(88% / 12 * 4);
}

#plans .col-12, #plans .col-4 {
    border: 1px solid lightgray;
}

#plans .row {
    padding-bottom: 2rem;
}

#plans li {
    padding-top: 1rem;
}

.col-main ul {
    padding-bottom: 2rem;
    margin-left: 1.5rem;
}

.col-main .button {
    margin-bottom: 2rem;
    font-weight: 300;
    text-align: center;
}

.col-main h4 {
    margin-bottom: 2rem;
}

.price {
    padding-top: 1rem;
    font-weight: 600;
}

.month {
    padding-top: 0.5rem;
    margin-bottom: 2rem;
}

.space {
    margin: 3rem 1rem;
    padding-top: 0;
    width: 60px;
}

.left-head {
    margin-bottom: 3rem;
}

.left-head h3 {
    padding-bottom: 1rem;
}

.left-head span {
    font-weight: 600;
}

.right {
    text-align: right;
}

.fa-check {
    color: var(--db-blue);
}

/* #endregion Plans */

/* #region Partner */

#partner {
    margin-top: 7rem;
}

#partner img {
    width: 650px;
}

#partner h3 {
    font-size: 1.5rem;
    padding-bottom: 1.8rem;
}

#partner p {
    margin-bottom: 1rem;
}

#partner .col-8 {
    padding-right: 2rem;
}

#partner .col-4 {
    margin-top: 5rem;
    padding: 2rem 3.5rem 0 1.5rem;
    align-items: flex-start;
}

/* #endregion Partner */

/* #region Business */

/* #region business-head */

#business-head .col-4 { 
    padding: 2rem 1rem;    
}

#business-head h2 {
    margin-top: 8rem;
}

#business-head h3 {
    font-size: 2rem;
    padding-bottom: 2rem;
}

#business-head > .row > img {
    width: 350px;
}

#learn-more {
    text-decoration: underline;
    color: var(--db-blue);
}

/* #endregion business-head */

/* #region business-banners */

.banners {
    padding-top: 5rem;
}

.central-banner{
    padding: 3rem;
}

.central-banner hr {
    width: 100px;
    margin: 3rem 0;
}

.central-banner p {
    padding-bottom: 3rem;
}

.central-svg {
    width: 300px;
}

#business-banners img:not(.central-svg) {
    width: 200px;
    filter: invert(1);
}

/* #endregion business-banners */

/* #region Banners colors */

.design {
    background-color: var(--db-design);
    box-sizing: border-box;
    border: 15px solid var(--db-design-shadow);
}

.asu {
    background-color: var(--db-asu);
}

.uf {
    background-color: var(--db-florida);
}

.topps {
    background-color: var(--db-topps);
}

.bycicle {
    background-color: var(--db-bycicle);
}

.hearst {
    background-color: var(--db-hearst);
}

.lonely {
    background-color: var(--db-lonely);
}

.clear {
    background-color: var(--db-clear);
}

/* #endregion Banners colors */

/* #region business-foot */

#business-foot {
    background-color: var(--db-lightblue);
}

.col-business-foot {
    width: calc(50%);
}

#business-foot .white-button {
    border: none;
}

#business-foot h3 {
    color: var(--db-purple);
    font-size: 2.5rem;
}

#business-foot .row {
    align-items: center;
    justify-content: space-between;
    padding: 5rem 0;    
}

.col-business-foot:nth-child(2) {
    text-align: right;
}

/* #endregion business-banners */

/* #endregion Business */

/* #region FAQ */

#faqs {
    padding: 5rem 0;
}

#faqs h2 {
    padding-bottom: 5rem;
}

.faq {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 2rem 0;
}

.faq:nth-child(3) {
    border-top: none;
    border-bottom: none;
}

.faq p {
    display: none;
    padding-top: 1rem;
}

.faq:hover p {
    display: block;
}

.faq:hover i {
    rotate: 180deg;
}

/* #endregion FAQ */

/* #region Footer */

footer {
    background-color: black;
    color: white;
    padding: 3rem 0;
}

.col-footer {
    max-width: calc(100% / 12 * 1.4);
}

footer h4 {
    padding-bottom: 1rem;
}

footer a {
    padding: 0.4rem 0;
    color: white;
    font-size: 0.8rem;
}

footer hr {
    width: 100px;
    margin: 3rem 0;
}

/* #endregion Footer */





