* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --db-blue: #0061FF;
    --db-lightblue: #B4D0E7;
    --db-purple: #610C32;
}

body {
    font-family: 'Fredoka', sans-serif;
    font-family: 'Open Sans', sans-serif;
    min-width: 1440px;
}

a {
    text-decoration: none;
    padding: 0.5rem;
    font-weight: 600;
}

p {
    line-height: 1.5rem;
}

/* #region Debug */

.debug main {
    height: 1400px;
    background-color: aqua;
}

.debug header {
    height: 100px;
    background-color: green;
}

.debug .menu {
    background-color: grey;
    height: 80px;
    width: 500px;
    
}

.debug footer {
    height: 100px;
    background-color: black;
}

/* #endregion Debug */

/* #region Utility */

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.unstyle {
    list-style: none;
    gap: 1rem;
}

.button {
    display: inline-block;
    background-color: #0061FF;
    color: white;
    padding: 0.5rem 1rem;
}

.container {
    max-width: 1170px;
    width: 80%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;

}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.py-4 {
    padding: 0rem 0 4rem 0;
}


/* #endregion Utility */

/* #region Header */

nav {
    padding: 1rem 0.5rem;
}

nav a {
    padding: 0.5rem;
    text-decoration: none;
    color: black;
}

.menu {
    gap: 1rem;
}



/* #endregion Header */

/* #region Jumbotron */

.jumbotron {
    height: 720px;
    background-color: var(--db-lightblue);
}

.jumbotron h1 {
    font-size: 5rem;
    padding: 4rem 0;
}

img {
    width: 100%;
}

.jumbotron i {
    color: black;
}

.jumbotron .button {
    margin: 2rem 0;
}

/* #endregion Jumbotron */
