* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --db-blue: #0061FF;
    --db-lightblue: #B4D0E7;
    --db-purple: #610C32;
}

body {
    font-family: 'Fredoka', sans-serif;
    font-family: 'Open Sans', sans-serif;
    min-width: 1440px;
}

a {
    text-decoration: none;
    padding: 0.5rem;
    font-weight: 600;
}

p {
    line-height: 1.5rem;
}

/* #region Debug */

.debug main {
    height: 1400px;
    background-color: aqua;
}

.debug header {
    height: 100px;
    background-color: green;
}

.debug .menu {
    background-color: grey;
    height: 80px;
    width: 500px;
    
}

.debug footer {
    height: 100px;
    background-color: black;
}

.debug .col-4 {
    background-color: yellow;
    height: 100px;
}

/* #endregion Debug */

/* #region Utility */

.d-flex {
    display: flex;
}

.direction-col {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.unstyle {
    list-style: none;
    gap: 1rem;
}

.button, .white-button {
    padding: 0.5rem 1rem;
}

.button {
    display: inline-block;
    background-color: #0061FF;
    color: white;
}

.white-button {
    display: inline-block;
    border: 1px solid black;
    color: black;
}

.container {
    max-width: 1170px;
    width: 80%;
    margin: auto;
}

.container-smaller {
    max-width: 1100px;
    width: 80%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-12 {
    width: 100%;
    margin-top: 4rem;
}

.py-4 {
    padding: 0rem 0 4rem 0;
}

.left {
    width: calc(100% / 12 * 9);
}

.right {
    width: calc(100% / 12 * 3);
}

h2  {
    font-size: 2.5rem;
    padding-bottom: 3rem;
}

/* #endregion Utility */

/* #region Header */

nav {
    padding: 1rem 0.5rem;
}

nav a {
    padding: 0.5rem;
    text-decoration: none;
    color: black;
}

.menu {
    gap: 1rem;
}



/* #endregion Header */

/* #region Jumbotron */

.jumbotron {
    height: 720px;
    background-color: var(--db-lightblue);
}

.jumbotron h1 {
    font-size: 5rem;
    padding: 4rem 0;
}

img {
    width: 100%;
}

.jumbotron i {
    color: black;
}

.jumbotron .button {
    margin: 2rem 0;
}

/* #endregion Jumbotron */

/* #region Plans */

#plans {
    padding-top: 6rem;
}

.input-radio {
    margin-bottom: 2rem;    
}

.ml-2 {
    margin-left: 2rem;
}

.col-head {
    border-bottom: 1px solid lightgray;
    text-align: center;
    padding: 1rem;
}

.col-main {
    padding: 1.5rem;
    align-items: flex-start;
}

#plans .col-4 {
    width: calc(88% / 12 * 4);
}

#plans .col-12, #plans .col-4 {
    border: 1px solid lightgray;
}

#plans .row {
    justify-content: space-between;
    padding-bottom: 2rem;
}

#plans li {
    padding-top: 1rem;
}

.col-main ul {
    padding-bottom: 2rem;
    margin-left: 1.5rem;
}

.col-main .button {
    margin-bottom: 2rem;
    font-weight: 300;
    text-align: center;
}

.col-main h4 {
    margin-bottom: 2rem;
}

.price {
    padding-top: 1rem;
    font-weight: 600;
}

.month {
    padding-top: 0.5rem;
    margin-bottom: 2rem;
}

.space {
    margin: 3rem 1rem;
    padding-top: 0;
    width: 60px;
}

.left-head {
    margin-bottom: 3rem;
}

.left-head h3 {
    padding-bottom: 1rem;
}

.left-head span {
    font-weight: 600;
}

.right {
    text-align: right;
}

.fa-check {
    color: var(--db-blue);
}

/* #endregion Plans */

/* #region Partner */

#partner {
    margin-top: 7rem;
}

#partner img {
    width: 650px;
}

#partner h3 {
    font-size: 1.5rem;
    padding-bottom: 1.8rem;
}

#partner p {
    margin-bottom: 1rem;
}

#partner .col-8 {
    padding-right: 2rem;
}

#partner .col-4 {
    margin-top: 5rem;
    padding: 2rem 4rem 0 0;
    align-items: flex-start;
}








/* #endregion Partner */

/* #region Business */

#business .col-4 {
    padding-top: 2rem;    
}

#business h2 {
    margin-top: 8rem;
}

#business h3 {
    font-size: 2rem;
    padding-bottom: 1.6rem;
}

#business img {
    width: 350px;
}

#learn-more {
    text-decoration: underline;
    padding-bottom: 8rem;
}












/* #endregion Business */


